<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MintBean Hackathon</title>
    <link rel="stylesheet" href="static\styles.css">
</head>
<style>
body{
    background-color: antiquewhite;
}
#keyboard-container{

}
.key{
    display: inline-block;
    
}
.white {
    background-color:#fff;
    height:220px;
    width: 100px;
    z-index: 2;
}

.black {
    background-color:  rgb(49, 46, 46);
    height:160px;
    width: 60px;
    z-index: 4;
}
</style>
<body>

    <div id="keyboard-container">
        <div class= "key white" id="C"></div>
        <div class= "key black" id="C#"></div>
        <div class= "key white" id="D"></div>
        <div class= "key black" id="D#"></div>
        <div class= "key white" id="E"></div>
        <div class= "key white" id="F"></div>
        <div class= "key black" id="F#"></div>
        <div class= "key white" id="G"></div>
        <div class= "key black" id="G#"></div>
        <div class= "key white" id="A"></div>
        <div class= "key black" id="A#"></div>
        <div class= "key white" id="B"></div>

        </ul>
    </div>
    
</body>
</html>