<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MintBean Hackathon</title>
        <link rel="stylesheet" href="/static/css/styles.css">
    
        
    </head>
    <body>
        <p id= "hi"> HI</p>

        <div id="keyboard-container">
    
            <div class= "key white" id="C"></div>
            <div class= "key white" id="D"></div>
            <div class= "key white" id="E"></div>
            <div class= "key white" id="F"></div>
            <div class= "key white" id="G"></div>
            <div class= "key white" id="A"></div>
            <div class= "key white" id="B"></div>


            <div class= "key black" id="C-sharp"></div>
            <div class= "key black" id="D-sharp"></div>
            <div class= "key black" id="F-sharp"></div>
            <div class= "key black" id="G-sharp"></div>
            <div class= "key black" id="A-sharp"></div>


           
        </div>

        <!-- CDN for Tone.js -->
        <script src="https://unpkg.com/tone@13.8.25/build/Tone.js"></script>
        <!-- Javascript link -->
        <script type="text/javascript" src="/static/js/script.js"></script>
        <!-- <script>
            let synth = new Synth().toMaster();
    
            const playButton = document.getElementById("hi");
    
            playButton.addEventListener('click', () => {
                synth.triggerAttackRelease('A3', '4n');
            });
        </script> -->

    </body>

</html>

